.card{
    margin-left: 50px;
    margin-top: 25px;
    margin-right: 50px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
.card-img-top {
    height: 50%;
    object-fit: cover;
}

body {
    background-color: rgb(44, 94, 61);
    overflow-x: hidden;
}